/* * This is a higlight
? This is a query
TODOs
! this is an alert */
/* -------------------- Generic -------------------- */
:root {
  --link-hover: 0.6;
  --link-btn-transition-duration: 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-top: 70px;
}
.introduction {
  text-align: center;
}

.my-container {
  display: flex;
  justify-content: center;
}

.my-container-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* -------------------- Generic -------------------- */

/* -------------------- Welcome section -------------------- */
#welcome-section {
  background-color: lightgray;
  min-height: 500px;
}

/* -------------------- Welcome section -------------------- */

/* -------------------- Portfolio Section -------------------- */
.portfolio-section {
  /* ! REMOVE border property after finish */
  min-height: 500px;
}

.project-tile {
  margin: 5px;
  border: 1px solid black;
}
/* -------------------- Portfolio Section -------------------- */

/* -------------------- Social buttons -------------------- */

.social-btns {
  list-style: none;
  justify-content: center;
  display: flex;
  margin: 0;
  padding: 0;
}

.social-btn {
  font-size: 35px;
  transition: var(--link-btn-transition-duration);
}

.social-btn:hover {
  opacity: var(--link-hover);
}
/* -------------------- Social buttons -------------------- */
