:root {
  --link-hover: 0.6;
  --link-btn-transition-duration: 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-top: 70px;
}

.social-container {
  display: flex;
  justify-content: center;
}

.social-btns {
  list-style: none;
  justify-content: center;
  display: flex;
  margin: 0;
  padding: 0;
}

.social-btn {
  font-size: 35px;
  transition: var(--link-btn-transition-duration);
}

.social-btn:hover {
  opacity: var(--link-hover);
}

.portfolio-section {
  /* remove border after finish */
  border: 1px solid black;
  min-height: 500px;
}

.introduction {
  text-align: center;
}

.project-tile {
  margin: 5px;
  border: 1px solid black;
}
